numpy
pandas
torch
kaggle
python-dotenv
pytest
redis
pydantic
pokerkit
requests
jsonschema
flask
urllib3
openai
onnxscript
google-generativeai
tensorboard
torchvision
optuna
onnxruntime

pylint
mypy
bandit
radon

pybind11
